body{
  background-color: green;
}

.nav-bar{
  width: 50%;
  height: 50px;
  border: 1000px solid black 
  Margin-right:10000px;
  display:flex;
  border-radius:3000px;
}
  

.content{
  display:flex;
  gap:10px;
  justify-items: center;
  margin-top:20px;
  margin-left:350px;
  font-weight: bold;
}


.name{
  margin: 30px;
  align-items: center;
  font-weight:bold;
  margin-top: 20px;
  font-size: 30px;
}
main-about{
  margin-top: 70px;
  color:aliceblue;
  margin-left:40px;
  font-size: 20px;
  
}